%h1 Listing orgs

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @orgs.each do |org|
    %tr
      %td= org.name
      %td= link_to 'Show', org
      %td= link_to 'Edit', edit_org_path(org)
      %td= link_to 'Destroy', org, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Org', new_org_path
